# registry=https://registry.npmjs.org/
# @facephi:registry=https://facephicorp.jfrog.io/artifactory/api/npm/npm-pro-fphi/
# //facephicorp.jfrog.io/artifactory/api/npm/npm-pro-fphi/:_password=Y21WbWRHdHVPakF4T2pBd01EQXdNREF3TURBNmRUaFFWMU5GVDIxRFZ6RjNkM0JGTVRaeVNGRmhjemRtTkRoeQ==
# //facephicorp.jfrog.io/artifactory/api/npm/npm-pro-fphi/:username=compartamospe01
# //facephicorp.jfrog.io/artifactory/api/npm/npm-pro-fphi/:email=compartamospe01@facephi.com
# //facephicorp.jfrog.io/artifactory/api/npm/npm-pro-fphi/:always-auth=true
