<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1098102891968-ki64qrfdbk4ob2lq5d69534rlkhlnh36.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1098102891968-ki64qrfdbk4ob2lq5d69534rlkhlnh36</string>
	<key>API_KEY</key>
	<string>AIzaSyDgMkZDJpGqn9_zkVh6ncGJxVk5w-jXmCA</string>
	<key>GCM_SENDER_ID</key>
	<string>1098102891968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pe.com.compartamos.bancamovil.qa</string>
	<key>PROJECT_ID</key>
	<string>cf-bancadigital-data-qa-6fa8</string>
	<key>STORAGE_BUCKET</key>
	<string>cf-bancadigital-data-qa-6fa8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1098102891968:ios:1ff795842cdcff05e65425</string>
</dict>
</plist>