<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>es</string>
	<key>CFBundleDisplayName</key>
	<string>Compartamos Móvil Perú</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>DTXApplicationID</key>
	<string>$(APPLICATIONID)</string>
	<key>DTXBeaconURL</key>
	<string>$(DYNATRACE_BEACON_URL)</string>
	<key>DTXFlavor</key>
	<string>react_native</string>
	<key>DTXLogLevel</key>
	<string>ALL</string>
	<key>DTXStartupLoadBalancing</key>
	<true/>
	<key>DTXUserOptIn</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME) uses the camera</string>
	<key>NSContactsUsageDescription</key>
	<string>Requerimos el acceso a tus contactos para que puedas pagarles fácilmente.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Tu ubicación será utilizada para protegerte ante un fraude financiero, en caso detectemos una transacción desde una ubicación inusual te notificaremos.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Tu ubicación será utilizada para protegerte ante un fraude financiero, en caso detectemos una transacción desde una ubicación inusual te notificaremos.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Tu ubicación será utilizada para protegerte ante un fraude financiero, en caso detectemos una transacción desde una ubicación inusual te notificaremos.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Esta aplicación requiere acceso a tu librería de fotos para guardar imágenes de constancias de transacciones.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Esta aplicación requiere acceso a tu librería de fotos para guardar imágenes de constancias de transacciones.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Bree-Regular.otf</string>
		<string>Bree-Bold.otf</string>
		<string>AmorSansPro.ttf</string>
		<string>AmorSansPro-Italic.ttf</string>
		<string>AmorSansPro-BoldItalic.ttf</string>
		<string>AmorSansPro-Bold.ttf</string>
		<string>BreeCFApp-BoldBold.otf</string>
		<string>BreeCFApp-RegularRegular.otf</string>
		<string>BreeCF-Regular.otf</string>
		<string>BreeCF-Light.otf</string>
		<string>BreeCF-Bold.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
